/* Navigation */
#navbar {
    flex-direction: column;
}

#navbar ul li a{
    font-size: 1rem;
    padding: 1px 5px;
    padding-bottom: 16px;
}
#navbar ul li a:hover{
    color: black;
    background-color: white;
    padding: 1px 1px;
    margin: 1px 15px;
}
/* Home section */
#home{
    height: 370px; 
    padding: 1px 28px;
    margin: -4px 18px;
}
#logo img {
    height: 47px;
    margin: 1px -6px;
}
#home::before{
    height: 480px; 
}
#lol{
    /* display: flex; */
    height: 10%;
    margin: 2px 2px;
}
#home p{
    font-size: 13px;
}
#services ul li a {
    color: green;
    display: block;
    padding: 0px 125px;
    border-radius: 20px;
    text-decoration: none;
    margin: 10px -32px;
}
/* Services section  */
#services{
    flex-direction: column;
    margin: -35px;
}

#services .box { 
    text-align: center;
    padding: 14px;
    margin: 2px 34px; 
    margin-bottom: 38px;
    margin-top: 38px;
    /* height: 700px; */
}

/* Clients section */
#clients{
    flex-wrap: wrap;
}

#clients img{
    width: 66px;
    padding: 6px;
    height: auto;
}

/* Contact us section */
#contact-box form{
    width:80%;
}
/* Footer */

/* Utility classes */
.h-primary{
    font-size:45px;
    /* padding: -6px; */
}
.btn{
    font-size: 13px;
    padding: 4px 8px;
}
/* #services .box{ 
    border: 2px solid #3e5813;
    padding:  17px;
    margin: -12px 55px;
    border-radius: 12px;
    background: #f1ced0;
    margin-bottom: 40px;
    height: 100%;
} */
#services-container::before{ 
    content: "";
    position: absolute;
    background: url('background.jpg') center center/cover;
    height: 1645px;
    /* top:0px;
    left:0px; */
    width: 100%;
    z-index: -1;
    opacity:.71;
}
