/* CSS Reset */
*{
    margin: 0 ;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

/* CSS Variables */
:root{
    --navbar-height: 59px;
}

/* Navigation Bar */
#navbar{
    display: flex;
    align-items: center;
    position: sticky;
    top: 0px;
}

#navbar::before{
    content: "";
    background-color: black;
    position: absolute;
    top:0px;
    left:0px;
    height: 90%;
    width:100%;
    z-index: -1;
    opacity: 0.7;
}

/* Navigation Bar: Logo and Image */
#logo{
    margin: 10px 34px;
}

#logo img{
    height: 59px;
    margin: 3px 6px;
}


/* Navigation Bar: List Styling */

#navbar ul{
    display: flex;
    font-family: 'Baloo Bhai', cursive;
}

 #lolss {
    height: 560px;
   width: 270px;
}
#lolk{
    height: 560px;
    width: 270px;
}
#lolks{
    height: 560px;
    width: 270px;
}
 
 #lols {
    height: 560px;
   width: 270px;
}
 #lol {
    height: 560px;
   width: 240px;
}
#navbar ul li{ 
    list-style: none;
    font-size: 1.3rem;
}

#navbar ul li a{
    color: white;
    display: block;
    padding: 11px 80px;
    border-radius: 20px;
    text-decoration: none;
}
#contact ul li a{
    color: white;
    display: block;
    padding: 11px 80px;
    border-radius: 20px;
    text-decoration:solid ;
    font-family:fantasy;
}
#services   ul li{ 
    list-style: none;
    font-size: 1.8rem;
}
#contact ul li{ 
    list-style: none;
    font-size: 1.1rem;
}
#services ul li a{
    color: green;
    display: block;
    padding: 14px 70px;
    border-radius: 20px;
    text-decoration: none;
    margin: 30px -32px;
}
#contact ul li a{
   
    font-size: 2.4rem;
    font-family: monospace ;
    color: rgb(6, 124, 108);
    display: block;
    padding: 14px 50px 5px 20px;
    border: 2px solid red;
    width: 50px auto;
    border-radius: 30px;
    width: auto;
    text-align: center;
    background-color: lightyellow;
    text-decoration:solid rgb(92, 84, 3)  ;
    margin: 30px -32px;
}
.now{
    text-decoration: line-through;

}
#services ul li a:hover{
    border-right: 2px solid red;
    border-left: 2px solid violet;
    border-bottom: 2px solid grey;
    border-top: 2px solid blue;
    background-color: yellow;
    color: rgb(119, 4, 4);
    padding: 0px -5px;
}
#contact ul li a:hover{
    border-left: 3px solid violet;
    border-bottom: 3px solid grey;
    border-top: 3px solid blue;
    opacity:1.8;
    color: rgb(110, 9, 15);
    background-color: rgb(52, 236, 28);
}
#navbar ul li a:hover{
    color: black;
    background-color: white;
}
/* Home Section */
#home{
    display: flex;
    flex-direction: column;
    padding:20px 200px;
    height: 626px;
     font-size:initial;
    justify-content: center;
    align-items: center;
}

#home::before{ 
    content: "";
    position: absolute;
    background: url('middle.jpg') no-repeat center center/cover;
    height: 118%;
    top:0px;
    left:0px;
    width: 100%;
    z-index: -1;
    opacity:0.8;
}

#home h1{
    color:black;
    text-align: center;
    font-family: 'Bree Serif', serif;
}

#home p{
    color: black;
    text-align: center;
    font-size: 1.8rem;
    font-family: 'Bree Serif', serif;
}
/* Services Section */
#services{
    /* margin: 34px; */
    display: flex;
  
}
#contact{
    /* display: flex; */
    position: relative;
}
#services-container::before{ 
    content: "";
    position: absolute;
    background: url('background.jpg') center center/cover;
    height: 910px;
    /* top:0px;
    left:0px; */
    width: 100%;
    z-index: -1;
    opacity:.71;
}
#services .box{ 
    border: 3px solid #5747e6;
    padding: 7px 10px;
    margin: 52px 36px 5px 10px;
    border-radius: 12px;
    background: #afc4d4;
    margin-bottom: 30px;
    height: 88%;
}

#services .box img{ 
   height: 160px;
   margin: auto;
   display: block;
}
#hii{
    align-items: center;
    position: sticky;
}
#services .box p{
    font-family: 'Bree Serif', serif;

} 

/* Clients Section */
#client-section{ 
    position: relative;
}

#client-section::before{
 content: "";
 position: absolute;
 background: url('../middle.jpg');
 width: 100%;
 height: 100%;
 z-index: -1;
 opacity: 0.3;
}

#clients{
    display: flex;
    justify-content: center;
    align-items: center;
}

.client-item{
    padding: 34px;
}

#clients img{
    height: 124px;
}


/* Contact Section */
#contact::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 115%;
    z-index: -1;
    opacity: 0.6;
    background: url('../front.jpg') no-repeat center center/cover;

}
#contact-box{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 34px;
    background-color: rgb(201, 201, 27);
}
#contact-box input, 
#contact-box textarea{
    width: 100%;
    padding: 0.5rem;
    border-radius: 9px;
    font-size: 1.1rem;
} 

#contact-box form{
    width: 40%;
}

#contact-box label{
   font-size: 1.3rem;
   font-family: 'Bree Serif', serif;

}


footer{
    background: black;
    color: white;
    padding: 11px 20px;
}

/* Utility Classes */
.h-primary{
    font-family: 'Bree Serif', serif;
    font-size: 3.8rem;
    /* padding: 12px; */
}

.h-secondary{
    font-family: 'Bree Serif', serif;
    font-size: 2.3rem;
    padding: 12px;
}

.btn{
    padding: 6px 20px;
    border: 2px solid white;
    background-color: brown;
    color: white;
    margin: 13px;
    font-size: 1.9rem;
    border-radius: 10px;
    cursor:pointer;
}

.center{
    text-align: center;
}
